[Unit]
Description="Run xbmc-rotate.service every 6 hours"

[Timer]
OnCalendar=*-*-* 0/6:00:00
Unit=xbmc-rotate.service

[Install]
WantedBy=multi-user.target
