# systemctl daemon-reload
# systemctl enable xbmc-onboot.service
# systemctl start xbmc-onboot.service

[Unit]
Description="XBMC telegram bot on boot"
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=xbmc
#ExecStartPre=-/usr/bin/sleep 10
ExecStart=/usr/bin/php -f /opt/motion/bot/bot.php -- --boot
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
